body{
	background-color: #1a191e;
	padding: 0;
	margin: 0;
}
input[type="checkbox"]{
	-webkit-appearance: none;
	background-color: #222127;
	height: 80px;
	width: 200px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	box-shadow: 18px 12px 18px -5px rgba(0,0,0,0.35);
	border-radius: 40px;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}
input[type="checkbox"]:before{
	position: absolute;
	content: "";
	height: 10px;
	width: 10px;
	background-color: #0ba041;
	border-radius: 50%;
	top: 20px;
	left: 27px;
	box-shadow: 0 33px 0 0 #0ba041,
				135px 33px 0 0 #b5b2b3,
				135px 0 0 0 #b5b2b3;
}
input[type="checkbox"]:after{
	position: absolute;
	content: "";
	height: 23px;
	width: 10px;
	border: 4px solid #0ba041;
	border-left: none;
	border-radius: 0 23px 23px 0;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 50px;
	transition: 0.3s;
}
input[type="checkbox"]:checked:after{
	left: 138px;
	border-color: #e4ce0e;
}
input[type="checkbox"]:checked{
	box-shadow: -18px 12px 18px -5px rgba(0,0,0,0.35);	
}